.lab-container {
  display: flex;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar .active {
  background-color: #d6e7ff;
  font-weight: bold;
  color: #0b63ce;
}

.main-content {
  flex: 1;
  padding: 30px;
  background-color: #fff;
}

.main-content h2 {
  font-size: 24px;
  margin-left:700px ;
  margin-bottom: 20px;
}

table {
  width: 1200px;
  margin-left:250px ;
  border-collapse: collapse;
  margin-top: 10px;
}

thead {
  background-color: #f0f0f0;
  margin-left:400px ;
}

th, td {
  text-align: left;
  padding: 12px;
  margin-left:400px ;
  border-bottom: 1px solid #ddd;
}

.open-btn {
  padding: 6px 16px;
  background-color: #eaf4ff;
  color: #007bff;
  
  border: 1px solid #b8d8ff;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}
